footer {}

//====================================================================================================
.footer {
	background-color: #2c2c2c;
	color: $x-color-white;
}

.footer__container {
	max-width: $maxWidthContainer + 20 + px;
	padding: 0px 10px 0px;
	margin: 0 auto;
}

.footer__row {
	@extend %flex;
	padding: 60px 0px;
	justify-content: space-between;
}

.footer__logo-link {
	font-weight: $fontWeightRegular;
	font-size: 14px;
	line-height: 1.7;
}

.header__logo {}

.footer__info {}

.footer__caption {
	font-weight: $fontWeightDemiBold;
	font-size: 16px;
	line-height: 1.25;
	margin-bottom: 25px;
}

.footer__nav {}

// .footer__nav-list  li + li {
// 	margin-top: 30px;
// }

.footer li + li {
	margin-top: 30px;
}

.footer__link {
	transition: all .3s;
	&:hover {
		text-decoration: underline;
	}
}

.footer__contact {
	max-width: 330px;
}

.footer__contact .footer__link:hover {
	.footer__icon {
		transform: translatey(0px);
	}
	
}

.footer__icon {
	transform: translatey(5px);
	margin-right: 15px;
	transition: all .3s;
}


.footer__contact-list {}

.footer__social {}

.footer__social-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	transition: all .3s;
}

.footer__social-link:hover {
	box-shadow: -2px -2px 2px 2px rgba($x-color-white, 0.6) inset;
}

.footer__social-link + .footer__social-link  {
	margin-left: 20px;
}

.footer__social-F {}

.footer__social-T {}

.footer__social-I {}

.footer__social-P {}

.footer__copyright {
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	color: rgba(200, 200, 200, 0.5);
	border-top: 1px solid rgba($x-color-white, 0.1);
	padding: 24px 10px;
}

//====================================================================================================