.gallery-page {}

.gallery-page__title {
	@extend %margin-title;
}

.title {}

.title__span {}

.gallery-page__box {
	border-top: 1px solid $palette-primary-border;
	padding: 30px 0px 0px 0px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -10px;
}

._gallery {}

.gallery-page__item {
	flex: 0 0 210px;
	padding: 0px 0px 260px 0px;
	margin: 10px;

	@media (max-width: $md3+px) {
		flex: 0 0 20%;
		padding: 0px 0px 24.5% 0px;
	}
}

.image-gallery {}

