//====================================================================================================
.home__inner {
	// overflow-y: scroll;
	// overflow-x: hidden;
}
//* section TOP start=================================================================================
.home-top {

}

.home-top__inner {
	@extend %flexStandart;
	@media (max-width: $md4+px) {
		flex-direction: column;
		justify-content: center;
	}
}

.home-top__control-row {
	position: relative;
	margin-right: 20px;
	@media (max-width: $md4+px) {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 5px;
	}
}

.home-top__title {
	margin-bottom: 90px;
	@media (max-width: $md4+px) {
		margin-bottom: 15px;
		text-align: center;
	}
}

.home-top__control {
	@extend %flex;
	align-items: center;
	@media (max-width: $md4+px) {
		justify-content: space-between;
	}
}

.control-arrow {
	width: 53px;
	height: 53px;
	background-color: #fff;
	transition: all .3s;
	border: 2px solid $palette-primary-border;
	position: relative;
	cursor: pointer;

	& img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}

	@media (min-width: $md2 + px) {
		&:hover {
			background-color: $palette-primary-button-hover;
		}
	}

	@media (max-width: $md2 + px) {
		&:focus {
			background-color: $palette-primary-button-hover;
		}
	}
}

.control-arrow__left {
	margin-right: 22px;
	@media (max-width: $md4+px) {
		margin-right: 0px;
	}
}

.control-arrow__right {}

.home-top__decor-line {
	position: absolute;
	right: -70px;
	width: 271px;
	height: 1px;
	background-color: $palette-primary-border;
	@media (max-width: $md3+px) {
		display: none;
	}
}


.control-number {
	@media (max-width: $md4+px) {
	display: none;
	}
}

.home-top__slide-box {
	width: 100%;
	min-width: 0px;
	max-width: 770px;
}

.home-top__slide {
	padding: 0px 0px 107.7% 0px;
}

//* section TOP end===================================================================================

//* section Company===================================================================================

.home-company {}

.home-company__inner {
	@extend %flex;
	background-color: $background-secondary-section;
	padding: 30px 0px 0px 70px;
	@media (max-width: $md1+px) {
		flex-direction: column;
		padding: 30px 0px 0px 0px;
	}
}

.home-company__images-row {
	@extend %flex;
	align-items: center;
	@media (max-width: $md1+px) {
		justify-content: center;
		margin-bottom: 20px;
	}
}



.home-company__box-first {
	padding: 0px 30px 0px 0px;
	@media (max-width: $md1+px) {
		order: 1;
		// flex: 1 1 auto;
		padding: 0px 0px 0px 0px;
		display: flex;
		align-items: center;
	}

	@media (max-width: $md2+px) {
		display: none;
	}
}

.home-company__image-2 {
	transform: translate(0, 30px);
	@media (max-width: $md1+px) {
		transform: translate(0, 0);
		margin-right: auto;
	}
}

.home-company__box-second {}

.home-company__desc {
	padding: 0px 70px 30px 30px;
	@media (max-width: $md1+px) {
		padding: 20px;
	}
	@media (max-width: $md3+px) {
		text-align: center;
	}
}

.home-company__subtitle {}

.subtitle {}

.home-company__text {
	margin-bottom: 20px;
	@media (max-width: $md3+px) {
		font-size: 16px;
	}
}

.text {}

.home-company__button {}

.button-link {}

//* section Company END===================================================================================

//* section Project ===================================================================================
.home-project {}

.container {}

.home-project__subtitle {
	margin-bottom: $margin-secondary-subtitle;
	@media (max-width: $md1+px) {
		margin-bottom: $margin-primary-subtitle;
	}

	@media (max-width: $md3+px) {
		text-align: center;
	}
}

.home-project__images-items {
	@extend %flex;
	flex-wrap: wrap;
	margin: -10px;
	@media (max-width: $md1+px) {
		justify-content: center;
		margin: -5px;
	}
	@media (max-width: $md4+px) {

		margin: -1px;
	}
}

.home-project__images-item {
	margin: 10px;
	position: relative;
	height: 255px;
	overflow: hidden;
	@include adaptiv-font(40,14,40);

	&:hover .home-project__layer {
		visibility: visible;
		opacity: .8;
		transform: scaley(1);
	}

	@media (max-width: $md1+px) {
		margin: 5px;
		height: 0;
		padding-bottom: 25%;
	}

	@media (max-width: $md4+px) {
		margin: 1px;
		height: 0;
		padding-bottom: 35%;
	}
}

.home-project__images-size-1,
.home-project__images-size-2 {
	width: 565px;
	@media (max-width: $md1+px) {
		width: 47%;
	}
	@media (max-width: $md4+px) {
		width: 100%;
	}
}

.home-project__images-size-3 {
	width: 270px;
	@media (max-width: $md1+px) {
		width: 47%;
	}
	@media (max-width: $md4+px) {
		width: 100%;
	}
}

.home-project__images-size-4 {
	width: 470px;
	@media (max-width: $md1+px) {
		width: 47%;
	}
	@media (max-width: $md4+px) {
		width: 100%;
	}
}

.home-project__images-size-5 {
	width: 370px;
	@media (max-width: $md1+px) {
		width: 47%;
	}
	@media (max-width: $md4+px) {
		display: none;
	}
}



.home-project__layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	padding: 8.4% 13.8%;
	@extend %flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	transition: all .5s;
	transform: scaley(0);
	visibility: hidden;
	opacity: 0;
}

.home-project__desc {
	line-height: 1;
	color: $palette-secondary-text;
	font-weight: $fontWeightDemiBold;
	margin-bottom: 20px;
}

.home-project__link {
	@include adaptiv-font(20,14,20);
	color: $palette-secondary-text;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	margin: 0px -8px;

	& span {
		padding: 0px 8px;
	}

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		text-decoration: underline;
	}

	@media (max-width: $md1+px) {
		font-size: 16px;
	}
	@media (max-width: $md4+px) {
		font-size: 10px;
	}
}

.home-project__button-inner {
	@extend %flex;
	justify-content: flex-end;
	padding: 30px 8px 0px;
	width: 100%;
	@media (max-width: $md3+px) {
		padding: 20px 8px 0px;
		justify-content: center;
	}
}

.home-project__span-bg {
	width: 18px;
	height: 9px;
	background: transparent url('../img/icons/arrow.svg') center center no-repeat;
}

//* section Project END===================================================================================

//* section Feedback ===================================================================================
.home-feedback {}

.container {}

.home-feedback__subtitle {
	@media (max-width: $md3+px) {
		text-align: center;
	}
}

.subtitle {}

.home-feedback__row {
	@extend %flex;
	margin: 0px -15px;
	@media (max-width: $md3+px) {
		display: block;
		margin: 0px 0px;
	}
}

//form==========================
.form {
	flex: 0 0 391px;
	padding: 0px 15px;
	@media (max-width: $md3+px) {
		padding: 0px 30px;
	}
	@media (max-width: $md4+px) {
		padding: 0px 0px;
	}
}

.form__body {}

.form__item {}

.form__item+.form__item {
	margin-top: 10px;
}

.form__input {
	background: $background-primary-form;

	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.04em;

	color: $palette-primary-text-form;

	width: 100%;
	padding: 15px 15px 15px 21px;
}

.form__input-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.form__input-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.form__input-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 4px;
	margin-right: 15px;
	background-color: $background-primary-form;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.form__input-checkbox:hover+label::before {
	background-color: darken($background-primary-form, 10%);
}

.form__input-checkbox:checked+label::before {

	background-image: url("../img/icons/check.svg");
}


.form__input-textarea {
	height: 147px;
	resize: none;
}

.checkbox__label {
	margin-bottom: 21px;
}

.form-label__span {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.02em;
	color: $palette-primary-text;
}

.form__button {
	margin: 0px 0px;
}

.button-link {}

.button-link--black {}

.button-link__span {}

.button-link__span-bg {}

.home-feedback__images {
	flex: 1 1 auto;
	max-height: 372px;
	padding: 0px 15px;
	@media (max-width: $md3+px) {
		display: none;
	}
}

//* section Feedback END===================================================================================

//====================================================================================================