.project-page {}

.container {}

.project-page__title {
	@extend %margin-title;
	@media (max-width: 1220px) {
		text-align: center;
	}
}

.title {}

.title__span {}

.project-page__slider-box {
	overflow: hidden;
	padding: 30px 0px 60px 0px;
	border-top: 1px solid $palette-primary-border;
	@media (max-width: $md3+px) {
		padding: 20px 0px 20px 0px;
	}
}

.project-page__slider {}

.project-page__slide {}

.project-page__item {
	@extend %flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 435px;
}

.project-page__item+.project-page__item {
	margin-top: 60px;
}

.project-page__image {
	flex: 1 1 670px;
	@media (max-width: 1220px) {
		flex: 1 1 100%;
		padding-bottom: 40%;
	}
}

.project-page__desc {
	flex: 0 0 500px;
	padding: 30px;
	background: $background-secondary-section;
	@media (max-width: 1220px) {
		flex: 1 1 100%;
	}
}

.project-page__subtitle {
	font-weight: $fontWeightExtraLight;
	@include adaptiv-font(40,20,40);
	line-height: 1.25;

	@media (max-width: 1220px) {
		text-align: center;
	}

}

.subtitle {}

.project-page__text {
	font-weight: $fontWeightExtraLight;
	font-size: 16px;
	line-height: 1.56;
	color: $palette-description-text;
	margin-bottom: 64px;
}

.project-page__button {

}

.button-link {}

.button-link__span {
}

.button-link__span-bg {}

.project-page__control {
	@extend %flex;
	@media (max-width: $md4+px) {
		justify-content: space-between;
	}
}

.control-arrow {}

.control-arrow__left {}

.control-arrow__right {}

.control-number {}